<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
  <form method='POST' action='/newteam'>

    <h2>Team Name:<input type="text"</h2>
    <h2>Coach:</h2>
    <h2>Point Guard:</h2>
    <h2>Shooting Guard:</h2>
    <h2>Small Forward:</h2>
    <h2>Power Forward:</h2>
    <h2>Center:</h2>
    
  </form>
 </head>
 <body>
 </body>
</html>


